/* Input Group Styles (no changes needed) */
.input-group {
  margin-bottom: 20px; /* Increased space between input fields */
  text-align: left;
  width: 100%;
}

/* Button Styles (no changes needed) */
.login-container button {
  padding: 12px;
  background-color: #4c45b2;
  color: white;
  border: 2px solid #4c45b2;
  border-radius: 5px;
  font-size: 18px; /* Larger font size for the button */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.login-container button:hover {
  background-color: #413b92;
  border-color: #3b3779;
}
